<h1>Edit Photo</h1>

<!-- <form action="/update_photo/<%= @photo.id %>"> -->
<%= form_tag "/photos/#{@photo.id}", :method => "patch" do %>
  <div>
    <label for="source">Source</label>
    <input type="text" name="source" id="source" value="<%= @photo.source %>">
  </div>
  <div>
    <label for="caption">Caption</label>
    <input type="text" name="caption" id="caption" value="<%= @photo.caption %>">
  </div>

  <input type="submit" value="Update Photo">
<% end %>
<!-- </form> -->
