<h1>Add A New Photo</h1>

<form action="/create_photo">
  <div>
    <label for="source">Source</label>
    <input type="text" name="source" id="source">
  </div>
  <div>
    <label for="caption">Caption</label>
    <input type="text" name="caption" id="caption">
  </div>

  <input type="submit" value="Add Photo">
</form>
